.lateral2 ul {
  margin-left: -40px;
  /*margin-top: -50px;*/
}

.lateral2{
  padding-top: 30px;
}

.lateral li {
  display: flex;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  
}



.lateral a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #ffffff, #dfa9bd, #e9b6c9);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease-in-out;
}

.lateral a:hover::before {
  transform: scaleX(1);
}

.lateral a:hover {
  color: #c7094f;
}


/* --------------------------------aside---------------------------------- */

.titulo2 {
  height: 50px;
  width: 100%;
  color: white;
  text-align: center;
}

.titulo2 p {
  font-size: 30px;
}

.mesa {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mesa a img {
  height: 45px;
  width: 45px;
}



/* --------------------------------centro----------------------------------- */

.overflow-y-auto {
    scroll-behavior: smooth; /* Desplazamiento suave */
    scrollbar-gutter: stable; /* Evita que el contenido "salte" cuando aparece la barra */
}

/* --------------------------------EMPLEADOS----------------------------------- */

tr {
  text-align: center;
  margin: 20px;
  padding: 20px;
}

td {
  text-align: center;
  margin: 30px;
  padding: 30px;
}

.headerTabla {
  background-color: #252525;
  color: white;

}

table {
  margin-top: 120px;
  border: 1px solid black;
}

/* --------------------------------EMPLEADOS----------------------------------- */

tr {
  text-align: center;
  margin: 20px;
  padding: 20px;
}

td {
  text-align: center;
  margin: 30px;
  padding: 30px;
}

.headerTabla {
  background-color: #252525;
  color: white;

}

table {
  margin-top: 120px;
  border: 1px solid black;
}

button {
  margin-top: 4px;
}

.buttonEmpl{
 height: 30px ;
 width: 110px;
}

.buttBorrar{
  background-color: #ed46f6;
  color:white;
}

.buttBorrar:hover{
  background-color: #EF67F7;
}

/* --------------------------------EDITAR----------------------------------- */


.editar {
  padding-top: 100px;
}

.botonEnviar {
  padding-top: 20px;
  text-align: center;
}

/* --------------------------------PopUp----------------------------------- */


.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 50px;
  border-radius: 10px; /* Añade esta línea para los bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
}


.popup.show {
  opacity: 1;
  visibility: visible;
}

.popup-overlay.show {
  opacity: 1;
  visibility: visible;
}

.popup > h2{

  text-align: center; font-size: 40px;

}
